@model LineBotSDK.Models.Views.Order.DetailsViewModel

@{
    ViewBag.Title = "ViewBag_Details";
}

<html>
    <head>
        <title>Details</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <!--<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />-->
        <!--<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>>--><!--手機板JS-->


        <link rel="stylesheet" href="~/Content/jquery.mobile-1.4.5.min.css" />
        <script src="~/scripts/jquery-1.11.1.min.js"></script>
        <script src="~/scripts/jquery.mobile-1.4.5.min.js"></script>


        @*<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />*@
        @*<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>*@
        @*<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>*@

    


        @*<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>*@
        <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script><!--Line Liff 2.0 JS-->

        <script src="~/scripts/Order/Details.js"></script>
    </head>


    <body>
        <div data-role="page" id="Page1">
            <div data-role="header" data-theme="d">
                <h1>訂單查詢</h1>
                @*<a data-rel="back">上一頁</a>*@
            </div>
            <div data-role="content" class="wrapper">
                <!-- <a href="/Employees/Edit/@ViewBag.id" data-icon="grid" data-ajax="false" data-role="button">修改員工資料</a>
                <br /> -->
                
                
                @*<ul id="listviewContainer">123</ul>*@
                @*<table data-role="table" class="ui-responsive">
                    <tr>
                        <th>餐廳</th>
                        <td>滷肉飯</td>
                    </tr>
                </table>*@
                <input type="text" name="" id="#text_id"><br>

                <fieldset class="ui-grid-a">
                    <div class="ui-block-a"><input type="submit" value="Submit" data-theme="a"></div>
                    <div class="ui-block-b"><input type="reset" value="Reset" data-theme="b"></div>
                </fieldset>

                <div data-role="collapsible">
                    <h3>I'm a header</h3>
                    <p>I'm the collapsible content. By default I'm closed, but you can click the header to open me.</p>
                    <p>2。I'm the collapsible content. By default I'm closed, but you can click the header to open me.</p>
                </div>
                <div data-role="collapsible">
                    <h3>I'm a header</h3>
                    <p>I'm the collapsible content. By default I'm closed, but you can click the header to open me.</p>
                    <p>2。I'm the collapsible content. By default I'm closed, but you can click the header to open me.</p>
                </div>


                <table data-role="table" id="table-column-toggle" data-mode="columntoggle" class="ui-responsive table-stroke" bgcolor="#00FF00">
                    <thead>
                        內容省略
                    </thead>
                    <tbody>
                        內容省略
                    </tbody>
                </table>
            </div>
            <div data-role="footer" data-theme="d">
                <h1>Copyright@2019 WizardWu公司</h1>
                <h1>All Rights Reserved</h1>
            </div>
        </div>
    </body>
</html>